<h1>Hey There! This is an article!</h1>
<h2><%= @article.title %></h1>
<p><%= @article.body %></p>
<p>
  Created At: <span><%= @article.created_at %></span>
</p>
<p>
  Updated At: <span><%= @article.updated_at %></span>
</p>

<%= link_to "All Posts", articles_path %>